<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.examplearenababy">
      
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@drawable/icon"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
    >

      <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDrWLDis790Gb55kEIZCgklHiOfidDKs5M" />

      <activity
        android:name=".SplashActivity"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/SplashTheme"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
          android:exported="true">

      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
